<html>
<head>
    <meta charset="UTF-8">
    <link href="~/Content/Home.css" rel="stylesheet" />
    <title>¿Quién es quién?</title>
</head>
<body>
    <header>
        <ul id="container">
            <li id="first">
                <a href="@Url.Action("MenuBackoffice", "Backoffice" )"><img id="logo" src="~/Images/logo.gif" alt="¿Quién es quién?"></a>
            </li>
            <li>
                <a href="@Url.Action("ABMLCategorias", "Backoffice" )">【﻿ＡＢＭＬ　Ｃａｔｅｇｏｒｉａｓ】</a>
            </li>
            <li>
                <a href="@Url.Action("ABMLPersonajes", "Backoffice" )">【﻿ＡＢＭＬ　Ｐｅｒｓｏｎａｊｅｓ】</a>
            </li>
            <li>
                <a href="@Url.Action("ABMLCaracteristicas", "Backoffice" )">【﻿ＡＢＭＬ　Ｃａｒａｃｔｅｒｉｓｔｉｃａｓ】</a>
            </li>
        </ul>
    </header>
    <main>
        <h1>
            ／／Ｂｉｅｎｖｅｎｉｄｏ ΛＤＭＩＮ　（オニぃ）
        </h1>
    </main>
</body>
</html>
